/* ---------- Google Conversion iFrame --------- */
[name="google_conversion_frame"] {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
}

input[type="button"],
input[type="submit"] { -webkit-appearance: none; }

.button {
	padding: 8px 16px;
	border: 0;
	color: #fff;
	font-family: $font-sans-light, sans-serif;
	font-size: 1.25rem;
	text-transform: none;
	cursor: pointer;

	&:hover,
	&:focus {
		color: #fff;
		text-decoration: none;
	}
}

.more-link {
	display: inline-block;
	margin-top: 1rem;
	
	.read-more {
		color: $support-blue;
		
		i {
			position: relative;
			top: 2px;
		}
	}
}