.media-room-lists h3 a:hover {
	text-decoration: none
}

.media-room-lists .uk-list {
	padding-bottom: 1rem;
	border-bottom: 1px dotted var(--light-grey)
}

.media-room-lists .uk-list li a {
	display: block;
	color: var(--grey)
}

.media-room-lists .uk-list a small {
	display: inline-block;
	padding: 0 5px;
	background-color: #df7e40
}

.media-room-lists .uk-list a small em {
	color: var(--white);
	font-style: normal
}
