$support-blue:      rgb(31, 97, 168);
$support-brown:     #9D7B58;
$support-orange:    rgb(223, 126, 64);
$support-yellow:    #D1AE32;
$primary-grey:      rgb(79, 88, 88);
$primary-green:     rgb(0, 110, 117);
$dark-grey:         #666666;
$medium-grey:       #999999;
$light-grey:        #dddddd;
$menu-bg-color:     rgb(32, 50, 51);

$blue:              #1f61a8;
$green:             #006e75;
$orange:            #df7e40;
$white:             #fff;
$gray:              #aaa;

// Social Media Colors
$facebook:          #3b5998;
$twitter:           #657786;
$instagram:         #833ab4;
$youtube:           #ff0000;
$pinterest:         #bd081c;
$tripadvisor:       #00af87;
$google:            #4285f4;
$tumblr:            #35465c;
$yelp:              #af0606;
$airbnb:            #fd5c63;