$font-sans-thin:    "Proxima N W01 Thin Reg";
$font-sans-light:   "Proxima N W01 Light";
$font-sans-regular: "Proxima N W01 Reg";
$font-sans-bold:    "Proxima N W01 Bold";
$font-serif:        "Roboto Slab";
$font-script:       "Freeland W00 Regular";
$font-awesome:      FontAwesome;
