@charset "UTF-8";
/*
**  @file    _hero.scss
**  
**  @desc    
**  
**  @path    /_hero.scss
**  @package jctda
**  @author  Lee Peterson
**  @date    11/10/17
*/

.home-hero-container,
.hero-container,
.ancillary-hero {
	position: relative;
	z-index: 1;
	
	@media all and (min-width: $breakpoint-large) {
		top: -90px;
		margin-bottom: -90px;
	}

	.photo-copyright {
		opacity: 0.75;
		color: #fff;
		font-family: Helvetica, Arial, sans-serif;
		font-style: italic;
		font-size: 8px;
		letter-spacing: 0.05em;
		
		a { color: #fff; }
	}
}

.hero figure > img { display: block; margin: 0 auto; }

.hero, .hero figure {
	position: relative;
	overflow: hidden;
	height: 225px;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	
	@media all and (min-width: $breakpoint-small) {
		height: 325px;
	}
	@media all and (min-width: $breakpoint-medium) {
		height: 425px;
	}
	@media all and (min-width: $breakpoint-large) {
		height: 525px;
	}
}

.hero-title {
	margin: 0;
	color: #fff;
	font-family: $font-script;
	font-size: 3rem;
	line-height: 1;

	@media all and (min-width: 320px) { font-size: 3rem; }
	@media all and (min-width: $breakpoint-small) { font-size: 5rem; }
	@media all and (min-width: $breakpoint-medium) { font-size: 7rem; }
	@media all and (min-width: $breakpoint-large) { font-size: 8rem; }
	@media all and (min-width: $breakpoint-xlarge) { font-size: 9rem; }
	
	&.sans-serif { font-family: $font-sans-thin, sans-serif; }
	
	&.serif { font-family: $font-serif, serif; }
	
	&.small-title {
		font-size: 3rem;

		@media all and (min-width: 320px) { font-size: 2.5rem; }
		@media all and (min-width: $breakpoint-small) { font-size: 3rem; }
		@media all and (min-width: $breakpoint-medium) { font-size: 4rem; }
		@media all and (min-width: $breakpoint-large) { font-size: 5rem; }
		@media all and (min-width: $breakpoint-xlarge) { font-size: 6rem; }
	}
}

.no-image .hero-title {
	margin-top: 10%;
	margin-bottom: -2rem;
	color: $primary-grey;
}