@charset "UTF-8";
/*
**  @file    _maps.scss
**  
**  @desc    
**  
**  @path    /_maps.scss
**  @package jctda
**  @author  Lee Peterson
**  @date    11/10/17
*/

.map {
	box-sizing: border-box;
	width: 100%;
	
	> .marker { display: none }
	
	.marker-link {
		margin-left: 1rem;
		color: $base-body-color;
			
		&:hover { text-decoration: none; }
		
		span.button { display: block; padding: 5px 0; width: 100%; color: #fff; font-size: .9rem; text-align: center; }
	}
}