$menu-bg: rgb(42, 48, 48);
$menu-alpha: .975;

.search-header-container {
	padding: 2rem 0 .7rem;

	a,
	i {
		margin: 0;
		color: $base-body-color;
		transition: color 200ms ease-in-out;
	}

	a:hover,
	a:focus {
		color: $support-blue;
		text-decoration: none;

		> i { color: $support-orange; }
	}
	
	img {
		@media all and (min-width: $breakpoint-large) {
			position: relative;
			top: -2px;
			width: 20px;
			height: 20px;
		}
	}
}

.search-mobile {
	position: absolute;
	width: 25px;
	height: 25px;
	top: 18px;
	right: 25px;
	padding-left: 0;

	@media all and (max-width: $breakpoint-small) { font-size: 24px; }

	.search-header {
		color: $primary-grey;
		
		@media all and (max-width: $breakpoint-large) {
			margin: 0;
			padding: 0;
			font-size: 2rem;
		}

		&:focus { color: $support-blue; }
	}
}

#search-nav {
	h2 {
		&,
		&:hover {
			margin: 0;
			color: #fff;
			border-bottom: inherit;
		}

		@media all and (max-width: $breakpoint-small) { font-size: 1.35rem; }
	}

	.uk-search {
		&:before {
			top: 0;
			text-align: left;
			color: #fff;

			@media all and (min-width: 320px) {
				width: 20px;
				font-size: 20px;
				line-height: 30px;
			}
			@media all and (min-width: $breakpoint-medium) {
				width: 40px;
				font-size: 24px;
				line-height: 55px;
			}
		}

		.uk-search-field {
			color: #fff;
			line-height: 30px;

			&:focus { border-bottom-color: #fff; }

			@media all and (min-width: 320px) { padding: 0 0 0 30px; }
			@media all and (min-width: $breakpoint-medium) { padding: 0 0 0 40px; }
		}
	}
}

.searchwp-live-search-results {
	box-sizing: border-box !important;
	z-index: 4 !important;
	left: 0 !important; // Left side of window
	right: 0 !important; // Right side of window
	width: 100% !important;
	background-color: rgba($menu-bg, $menu-alpha) !important;
	border-radius: 0 !important;
	box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2) !important;

	.searchwp-live-search-result {
		max-width: 52.5%;
		margin: 0 auto;

		p {
			padding: 1rem !important;
			color: #fff !important;
			border-bottom: 0 !important;
			
			a {
				color: #fff !important;
				font-size: 1.3rem;
			}
		}
	}
}
