:root {
	--margin-desktop: 24px;
	--gutter-desktop: 24px;
	--column-width-desktop: 72px;
	--margin-tablet: 16px;
	--gutter-tablet: 16px;
	--column-width-tablet: 72px;
	--margin-phone: 16px;
	--gutter-phone: 16px;
	--column-width-phone: 72px
}

@media (min-width:840px) {
	.grid {
		box-sizing: border-box;
		margin: 0 auto;
		padding: 24px;
		padding: var(--margin-desktop, 24px)
	}
}

@media (min-width:480px) and (max-width:839px) {
	.grid {
		box-sizing: border-box;
		margin: 0 auto;
		padding: 16px;
		padding: var(--margin-tablet, 16px)
	}
}

@media (max-width:479px) {
	.grid {
		box-sizing: border-box;
		margin: 0 auto;
		padding: 16px;
		padding: var(--margin-phone, 16px)
	}
}

@media (min-width:840px) {
	.inner {
		display: flex;
		flex-flow: row wrap;
		align-items: stretch;
		margin: -12px;
		margin: calc(var(--gutter-desktop, 24px)/2*-1)
	}

	@supports (display:grid) {
		.inner {
			display: grid;
			margin: 0;
			grid-gap: 24px;
			grid-gap: var(--gutter-desktop, 24px);
			grid-template-columns: repeat(12, minmax(0, 1fr))
		}
	}
}

@media (min-width:480px) and (max-width:839px) {
	.inner {
		display: flex;
		flex-flow: row wrap;
		align-items: stretch;
		margin: -8px;
		margin: calc(var(--gutter-tablet, 16px)/2*-1)
	}

	@supports (display:grid) {
		.inner {
			display: grid;
			margin: 0;
			grid-gap: 16px;
			grid-gap: var(--gutter-tablet, 16px);
			grid-template-columns: repeat(8, minmax(0, 1fr))
		}
	}
}

@media (max-width:479px) {
	.inner {
		display: flex;
		flex-flow: row wrap;
		align-items: stretch;
		margin: -8px;
		margin: calc(var(--gutter-phone, 16px)/2*-1)
	}

	@supports (display:grid) {
		.inner {
			display: grid;
			margin: 0;
			grid-gap: 16px;
			grid-gap: var(--gutter-phone, 16px);
			grid-template-columns: repeat(4, minmax(0, 1fr))
		}
	}
}

@media (min-width:840px) {
	.cell {
		width: calc(33.33333% - 24px);
		width: calc(33.33333% - var(--gutter-desktop, 24px));
		box-sizing: border-box;
		margin: 12px;
		margin: calc(var(--gutter-desktop, 24px)/2)
	}

	@supports (display:grid) {
		.cell {
			width: auto;
			grid-column-end: span 4;
			margin: 0
		}
	}

	.span-1,
	.span-1-desktop {
		width: calc(8.33333% - 24px);
		width: calc(8.33333% - var(--gutter-desktop, 24px))
	}

	@supports (display:grid) {

		.span-1,
		.span-1-desktop {
			width: auto;
			grid-column-end: span 1
		}
	}

	.span-2,
	.span-2-desktop {
		width: calc(16.66667% - 24px);
		width: calc(16.66667% - var(--gutter-desktop, 24px))
	}

	@supports (display:grid) {

		.span-2,
		.span-2-desktop {
			width: auto;
			grid-column-end: span 2
		}
	}

	.span-3,
	.span-3-desktop {
		width: calc(25% - 24px);
		width: calc(25% - var(--gutter-desktop, 24px))
	}

	@supports (display:grid) {

		.span-3,
		.span-3-desktop {
			width: auto;
			grid-column-end: span 3
		}
	}

	.span-4,
	.span-4-desktop {
		width: calc(33.33333% - 24px);
		width: calc(33.33333% - var(--gutter-desktop, 24px))
	}

	@supports (display:grid) {

		.span-4,
		.span-4-desktop {
			width: auto;
			grid-column-end: span 4
		}
	}

	.span-5,
	.span-5-desktop {
		width: calc(41.66667% - 24px);
		width: calc(41.66667% - var(--gutter-desktop, 24px))
	}

	@supports (display:grid) {

		.span-5,
		.span-5-desktop {
			width: auto;
			grid-column-end: span 5
		}
	}

	.span-6,
	.span-6-desktop {
		width: calc(50% - 24px);
		width: calc(50% - var(--gutter-desktop, 24px))
	}

	@supports (display:grid) {

		.span-6,
		.span-6-desktop {
			width: auto;
			grid-column-end: span 6
		}
	}

	.span-7,
	.span-7-desktop {
		width: calc(58.33333% - 24px);
		width: calc(58.33333% - var(--gutter-desktop, 24px))
	}

	@supports (display:grid) {

		.span-7,
		.span-7-desktop {
			width: auto;
			grid-column-end: span 7
		}
	}

	.span-8,
	.span-8-desktop {
		width: calc(66.66667% - 24px);
		width: calc(66.66667% - var(--gutter-desktop, 24px))
	}

	@supports (display:grid) {

		.span-8,
		.span-8-desktop {
			width: auto;
			grid-column-end: span 8
		}
	}

	.span-9,
	.span-9-desktop {
		width: calc(75% - 24px);
		width: calc(75% - var(--gutter-desktop, 24px))
	}

	@supports (display:grid) {

		.span-9,
		.span-9-desktop {
			width: auto;
			grid-column-end: span 9
		}
	}

	.span-10,
	.span-10-desktop {
		width: calc(83.33333% - 24px);
		width: calc(83.33333% - var(--gutter-desktop, 24px))
	}

	@supports (display:grid) {

		.span-10,
		.span-10-desktop {
			width: auto;
			grid-column-end: span 10
		}
	}

	.span-11,
	.span-11-desktop {
		width: calc(91.66667% - 24px);
		width: calc(91.66667% - var(--gutter-desktop, 24px))
	}

	@supports (display:grid) {

		.span-11,
		.span-11-desktop {
			width: auto;
			grid-column-end: span 11
		}
	}

	.span-12,
	.span-12-desktop {
		width: calc(100% - 24px);
		width: calc(100% - var(--gutter-desktop, 24px))
	}

	@supports (display:grid) {

		.span-12,
		.span-12-desktop {
			width: auto;
			grid-column-end: span 12
		}
	}
}

@media (min-width:480px) and (max-width:839px) {
	.cell {
		width: calc(50% - 16px);
		width: calc(50% - var(--gutter-tablet, 16px));
		box-sizing: border-box;
		margin: 8px;
		margin: calc(var(--gutter-tablet, 16px)/2)
	}

	@supports (display:grid) {
		.cell {
			width: auto;
			grid-column-end: span 4;
			margin: 0
		}
	}

	.span-1,
	.span-1-tablet {
		width: calc(12.5% - 16px);
		width: calc(12.5% - var(--gutter-tablet, 16px))
	}

	@supports (display:grid) {

		.span-1,
		.span-1-tablet {
			width: auto;
			grid-column-end: span 1
		}
	}

	.span-2,
	.span-2-tablet {
		width: calc(25% - 16px);
		width: calc(25% - var(--gutter-tablet, 16px))
	}

	@supports (display:grid) {

		.span-2,
		.span-2-tablet {
			width: auto;
			grid-column-end: span 2
		}
	}

	.span-3,
	.span-3-tablet {
		width: calc(37.5% - 16px);
		width: calc(37.5% - var(--gutter-tablet, 16px))
	}

	@supports (display:grid) {

		.span-3,
		.span-3-tablet {
			width: auto;
			grid-column-end: span 3
		}
	}

	.span-4,
	.span-4-tablet {
		width: calc(50% - 16px);
		width: calc(50% - var(--gutter-tablet, 16px))
	}

	@supports (display:grid) {

		.span-4,
		.span-4-tablet {
			width: auto;
			grid-column-end: span 4
		}
	}

	.span-5,
	.span-5-tablet {
		width: calc(62.5% - 16px);
		width: calc(62.5% - var(--gutter-tablet, 16px))
	}

	@supports (display:grid) {

		.span-5,
		.span-5-tablet {
			width: auto;
			grid-column-end: span 5
		}
	}

	.span-6,
	.span-6-tablet {
		width: calc(75% - 16px);
		width: calc(75% - var(--gutter-tablet, 16px))
	}

	@supports (display:grid) {

		.span-6,
		.span-6-tablet {
			width: auto;
			grid-column-end: span 6
		}
	}

	.span-7,
	.span-7-tablet {
		width: calc(87.5% - 16px);
		width: calc(87.5% - var(--gutter-tablet, 16px))
	}

	@supports (display:grid) {

		.span-7,
		.span-7-tablet {
			width: auto;
			grid-column-end: span 7
		}
	}

	.span-8,
	.span-8-tablet {
		width: calc(100% - 16px);
		width: calc(100% - var(--gutter-tablet, 16px))
	}

	@supports (display:grid) {

		.span-8,
		.span-8-tablet {
			width: auto;
			grid-column-end: span 8
		}
	}

	.span-9,
	.span-9-tablet {
		width: calc(100% - 16px);
		width: calc(100% - var(--gutter-tablet, 16px))
	}

	@supports (display:grid) {

		.span-9,
		.span-9-tablet {
			width: auto;
			grid-column-end: span 8
		}
	}

	.span-10,
	.span-10-tablet {
		width: calc(100% - 16px);
		width: calc(100% - var(--gutter-tablet, 16px))
	}

	@supports (display:grid) {

		.span-10,
		.span-10-tablet {
			width: auto;
			grid-column-end: span 8
		}
	}

	.span-11,
	.span-11-tablet {
		width: calc(100% - 16px);
		width: calc(100% - var(--gutter-tablet, 16px))
	}

	@supports (display:grid) {

		.span-11,
		.span-11-tablet {
			width: auto;
			grid-column-end: span 8
		}
	}

	.span-12,
	.span-12-tablet {
		width: calc(100% - 16px);
		width: calc(100% - var(--gutter-tablet, 16px))
	}

	@supports (display:grid) {

		.span-12,
		.span-12-tablet {
			width: auto;
			grid-column-end: span 8
		}
	}
}

@media (max-width:479px) {
	.cell {
		width: calc(100% - 16px);
		width: calc(100% - var(--gutter-phone, 16px));
		box-sizing: border-box;
		margin: 8px;
		margin: calc(var(--gutter-phone, 16px)/2)
	}

	@supports (display:grid) {
		.cell {
			width: auto;
			grid-column-end: span 4;
			margin: 0
		}
	}

	.span-1,
	.span-1-phone {
		width: calc(25% - 16px);
		width: calc(25% - var(--gutter-phone, 16px))
	}

	@supports (display:grid) {

		.span-1,
		.span-1-phone {
			width: auto;
			grid-column-end: span 1
		}
	}

	.span-2,
	.span-2-phone {
		width: calc(50% - 16px);
		width: calc(50% - var(--gutter-phone, 16px))
	}

	@supports (display:grid) {

		.span-2,
		.span-2-phone {
			width: auto;
			grid-column-end: span 2
		}
	}

	.span-3,
	.span-3-phone {
		width: calc(75% - 16px);
		width: calc(75% - var(--gutter-phone, 16px))
	}

	@supports (display:grid) {

		.span-3,
		.span-3-phone {
			width: auto;
			grid-column-end: span 3
		}
	}

	.span-4,
	.span-4-phone {
		width: calc(100% - 16px);
		width: calc(100% - var(--gutter-phone, 16px))
	}

	@supports (display:grid) {

		.span-4,
		.span-4-phone {
			width: auto;
			grid-column-end: span 4
		}
	}

	.span-5,
	.span-5-phone {
		width: calc(100% - 16px);
		width: calc(100% - var(--gutter-phone, 16px))
	}

	@supports (display:grid) {

		.span-5,
		.span-5-phone {
			width: auto;
			grid-column-end: span 4
		}
	}

	.span-6,
	.span-6-phone {
		width: calc(100% - 16px);
		width: calc(100% - var(--gutter-phone, 16px))
	}

	@supports (display:grid) {

		.span-6,
		.span-6-phone {
			width: auto;
			grid-column-end: span 4
		}
	}

	.span-7,
	.span-7-phone {
		width: calc(100% - 16px);
		width: calc(100% - var(--gutter-phone, 16px))
	}

	@supports (display:grid) {

		.span-7,
		.span-7-phone {
			width: auto;
			grid-column-end: span 4
		}
	}

	.span-8,
	.span-8-phone {
		width: calc(100% - 16px);
		width: calc(100% - var(--gutter-phone, 16px))
	}

	@supports (display:grid) {

		.span-8,
		.span-8-phone {
			width: auto;
			grid-column-end: span 4
		}
	}

	.span-9,
	.span-9-phone {
		width: calc(100% - 16px);
		width: calc(100% - var(--gutter-phone, 16px))
	}

	@supports (display:grid) {

		.span-9,
		.span-9-phone {
			width: auto;
			grid-column-end: span 4
		}
	}

	.span-10,
	.span-10-phone {
		width: calc(100% - 16px);
		width: calc(100% - var(--gutter-phone, 16px))
	}

	@supports (display:grid) {

		.span-10,
		.span-10-phone {
			width: auto;
			grid-column-end: span 4
		}
	}

	.span-11,
	.span-11-phone {
		width: calc(100% - 16px);
		width: calc(100% - var(--gutter-phone, 16px))
	}

	@supports (display:grid) {

		.span-11,
		.span-11-phone {
			width: auto;
			grid-column-end: span 4
		}
	}

	.span-12,
	.span-12-phone {
		width: calc(100% - 16px);
		width: calc(100% - var(--gutter-phone, 16px))
	}

	@supports (display:grid) {

		.span-12,
		.span-12-phone {
			width: auto;
			grid-column-end: span 4
		}
	}
}

.order-1 {
	order: 1
}

.order-2 {
	order: 2
}

.order-3 {
	order: 3
}

.order-4 {
	order: 4
}

.order-5 {
	order: 5
}

.order-6 {
	order: 6
}

.order-7 {
	order: 7
}

.order-8 {
	order: 8
}

.order-9 {
	order: 9
}

.order-10 {
	order: 10
}

.order-11 {
	order: 11
}

.order-12 {
	order: 12
}

.top {
	align-self: flex-start
}

@supports (display:grid) {
	.top {
		align-self: start
	}
}

.middle {
	align-self: center
}

.bottom {
	align-self: flex-end
}

@supports (display:grid) {
	.bottom {
		align-self: end
	}
}

@media (min-width:840px) {
	.fixed {
		width: 1176px;
		width: calc(var(--column-width-desktop, 72px)*12 + var(--gutter-desktop, 24px)*11 + var(--margin-desktop, 24px)*2)
	}
}

@media (min-width:480px) and (max-width:839px) {
	.fixed {
		width: 720px;
		width: calc(var(--column-width-tablet, 72px)*8 + var(--gutter-tablet, 16px)*7 + var(--margin-tablet, 16px)*2)
	}
}

@media (max-width:479px) {
	.fixed {
		width: 368px;
		width: calc(var(--column-width-phone, 72px)*4 + var(--gutter-phone, 16px)*3 + var(--margin-phone, 16px)*2)
	}
}

.left {
	margin-right: auto;
	margin-left: 0
}

.right {
	margin-right: 0;
	margin-left: auto
}
